.venv/
__pycache__/
*.nc
*.grb
*.grib
*.tif
*.tiff
*.zip
*.tar*
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
prcp_matrix.json
prcp/prcp_matrix.json
*.nc4
*.grib2
*.grb2
raw/
gfs_out/
ecmwf_out/
*.tar
*.tar.gz
*.tar.bz2
